<!-- components/modal.html -->
<div id="usuario-modal" class="modal hidden">
  <div class="modal-content">
    <span id="fechar-modal-btn" class="close">&times;</span>
    <h2>Cadastro / Edição de Usuário</h2>
    <input type="text" id="modal-nome" placeholder="Nome">
    <input type="text" id="modal-cpf" placeholder="CPF">
    <input type="text" id="modal-sus" placeholder="Nº SUS">
    <input type="date" id="modal-nascimento">
    <select id="modal-sexo">
      <option value="">Sexo</option>
      <option value="MASCULINO">Masculino</option>
      <option value="FEMININO">Feminino</option>
    </select>
    <input type="text" id="modal-telefone" placeholder="Telefone">
    <input type="text" id="modal-celular" placeholder="Celular">
    <input type="email" id="modal-email" placeholder="E-mail">
    <input type="text" id="modal-logradouro" placeholder="Logradouro">
    <input type="text" id="modal-numero" placeholder="Número">
    <input type="text" id="modal-complemento" placeholder="Complemento">
    <input type="text" id="modal-bairro" placeholder="Bairro">
    <input type="text" id="modal-cep" placeholder="CEP">
    <input type="text" id="modal-cidade" placeholder="Cidade">
    <select id="modal-uf">
      <option value="">UF</option>
      <option value="AC">AC</option>
      <option value="AL">AL</option>
      <option value="AP">AP</option>
      <option value="AM">AM</option>
      <option value="BA">BA</option>
      <option value="CE">CE</option>
      <option value="DF">DF</option>
      <option value="ES">ES</option>
      <option value="GO">GO</option>
      <option value="MA">MA</option>
      <option value="MT">MT</option>
      <option value="MS">MS</option>
      <option value="MG">MG</option>
      <option value="PA">PA</option>
      <option value="PB">PB</option>
      <option value="PR">PR</option>
      <option value="PE">PE</option>
      <option value="PI">PI</option>
      <option value="RJ">RJ</option>
      <option value="RN">RN</option>
      <option value="RS">RS</option>
      <option value="RO">RO</option>
      <option value="RR">RR</option>
      <option value="SC">SC</option>
      <option value="SP">SP</option>
      <option value="SE">SE</option>
      <option value="TO">TO</option>
    </select>

    <button type="button" id="salvar-usuario-btn" class="submit-btn">Salvar</button>
  </div>
</div>